---
layout: base
---
<div class="grid wrapper-content">
  <section class="griditem jumbotron jumbotron-fluid splash">
    <div class="flex overlay splash-text">
      <div class="flexitem text">
        <h1>FANTASY CRESCENDO</h1>
        <h2>by Hourai Teahouse</h2>
      </div>
    </div>
    <img class="splash-image" src="img/placeholder.png">
  </section>
  <section class="griditem container-fluid">
    {% include character-roster.html %}
  </section>
  <section class="griditem container-fluid">
    {% include news-list.html %}
    <div class="news-button">
      <button>More news...</button>
    </div>
  </section>
</div>