---
layout: base
---
<div class="container-fluid wrapper-content">
  <section class="jumbotron-fluid splash">
    <div class="flex overlay splash-text">
      <div class="flexitem text">
        <h1>FANTASY CRESCENDO</h1>
        <h2>by Hourai Teahouse</h2>
      </div>
    </div>
    <img class="splash-image" src="img/placeholder.png">
  </section>
  <section class="container-fluid">
    {% include character-roster.html %}
  </section>
  <section class="container-fluid">
    {% include news-list.html %}
  </section>
</div>