---
layout: base
---
<div class="container-fluid wrapper-home">
  <section class="row-fluid home-splash">
    <div class="flex overlay align-items-end justify-content-end home-splash-text">
      <div class="text">
        <h1>FANTASY CRESCENDO</h1>
        <h2>by Hourai Teahouse</h2>
      </div>
    </div>
    {% asset fc_splash1 class="splash-image" %}
  </section>
  <section class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5 order-md-5 roster-title ">
        <div class="row-fluid justify-content-start">
            <h1>Fantasy Crescendo Fighters</h1>
        </div>
      </div>
      <div class="col-md-7">
        {% include character-roster.html %}
      </div>
    </div>
  </section>
  <section class="container-fluid">
    {% include news-list.html %}
  </section>
</div>
