---
layout: base
title: Pagination
---
<article class="container-fluid news">
  <header class="row news-header">
    <h1 class="col-12">
    {% if page.path == "news.md" %}
      Hourai Teahouse - News
    {% else %}
      News
    {% endif %}
   </h1>
  </header>

  <div class="post">
    <div align="right">
      <!-- Adds links to other languages on the post -->
      {% for lang in site.languages %}
        {% unless site.lang == lang %}
          {% if lang == site.default_lang %}
            <a href="{{ site.baseurl_root }}{{ page.url }}" >{% t langs.{{ lang }} %}</a>
          {% else %}
            <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{% t langs.{{ lang }} %}</a>
          {% endif %}
          
          {% assign next = forloop.index | plus: 1 %}
          
          {% if forloop.last != true and site.languages[forloop.index] != site.lang or site.languages[forloop.index] == site.lang and next < forloop.length %}
            <span class="separator"> &bull; </span>
          {% endif %}
          
        {% endunless %}
      {% endfor %}
    </div>

    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      {% if post == paginator.posts[0] %}
        <section class="row news-post selected">
      {% else %}
        <section class="row news-post">
      {% endif %}
        <div class="col-12 h-100 news-post-preview">
          <div class="row h-100 overlay-wrapper">
            <div class="col-12 no-gutter-left no-gutter-right post-background"></div>
            <div class="col-md-auto h-100 no-gutter-left no-gutter-right image-border">
              <div class="image-overlay"></div>
              {% asset placeholder class="image" %}
            </div>
          </div>
        </div>
        <div class="flex col-md-8 offset-md-2 h-100 news-post-border">
          <div class="row w-100 align-items-end news-post-header">
            <div class="col-md-auto news-post-title">
              <h1>
                <a href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </h1>
            </div>
            <div class="col-md-auto news-post-date">
              <h2>
                {{ post.date | date_to_long_string }}
              </h2>
            </div>
          </div>
          <div class="row news-post-details">
            <div class="col-12">
              <span>{{ post.excerpt }}</span>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}
    <div class="container-fluid news-nav">
      {% if page.path == "index.html" %}
        <div class="row justify-content-end">
          <div class="col-auto">
            <a href="{{ site.baseurl_root }}/{{ lang }}news" role="button">More news</a>
          </div>
        </div>
      {% elsif paginator.total_pages > 1 %}
        <!-- Pagination links -->
        <div class="row justify-content-center">
          <ul class="pagination">
            {% if paginator.previous_page %}
              <li class="page-item"><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Previous</a></li>
            {% else %}
              <li class="page-item">Previous</li>
            {% endif %}
            {% for page in (1..paginator.total_pages) %}
            <li class="page-item">
            {% if page == paginator.page %}
              <span class="page-link">{{ page }}</span>
            {% elsif page == 1 %}
              <a class="page-link" href="{{ site.baseurl }}/{{ lang }}news">{{ page }}</a>
            {% else %}
              <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
              <li class="page-item"><a href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next</a></li>
            {% else %}
              <li class="page-item">Next</li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </div>
  </div>
</article>