<article class="container roster">
  <section class="row roster-set">
  {% for character in site.data.characters %}
  {% capture roster_id %}{{ character.short_name }}-icon{% endcapture %}
  {% cycle 'open': '<ul class="col-md-3 roster-list">', '', %}
    {% if page.path == "index.html" %}
      <li id="{{ roster_id }}" class="background-navy border-pink roster-character" data-target="#roster-carousel" data-slide-to="{{ character.index }}">
    {% else %}
      <li id="{{ roster_id }}" class="roster-character-background border-navy roster-character" data-target="#roster-carousel" data-slide-to="{{ character.index }}">
    {% endif %}
    {% asset '{{ character.short_name }}' class="roster-image" %}
    </li>
  {% cycle 'close': '', '</ul>' %}
  {% endfor %}
  </section>
  <section class="row roster-info">
    <div id="roster-carousel" class="col-12 carousel slide" data-interval="false">
      <div class="carousel-inner roster-carousel-items">
      {% for character in site.data.characters %}
        {% if character.index == 0 %}
          <div id="{{ character.short_name }}" class="carousel-item
          active">
        {% else %}
          <div id="{{ character.short_name }}" class="carousel-item">
        {% endif %}
          <div class="row">
            <div class="col-md-5 roster-carousel-image">
              <div class="row h-100 justify-content-center">
                {% asset '{{ character.short_name }}' class="roster-image" %}
              </div>
            </div>
            <div class="col-md-7">
              <div class="row no-gutters">
                <h2 class="roster-character-name">
                  {{ character.full_name }}
                </h2>
              </div>
              <div class="row no-gutters">
                <div class="roster-character-info">
                  {{ character.description }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>
</article>
