<head>
  <title>{{ site.title }}</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!-- Import extra css files into styles.scss -->
  <link rel="stylesheet" href="css/styles.css">
  
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  {% include favicons.html %}
  {% include google-analytics.html %}
</head>
