<nav class="navbar navbar-expand-lg navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="/">
      {% asset logo width="30" height="30" %}
      {{ site.title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            {% t nav.home %}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">{% t nav.about %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">{% t nav.news %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">{% t nav.projects %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">{% t nav.faq %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contribute">{% t nav.contribute %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://wiki.houraiteahouse.net">
            {% t nav.wiki %}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if site.discord %}
          <a class="nav-link nav-icon" href="https://discord.gg/{{ site.discord }}">
            <i class="fab fa-discord "></i>
          </a>
        {% endif %}
        {% if site.facebook %}
          <a class="nav-link nav-icon" href="https://facebook.com/{{ site.facebook }}">
            <i class="fab fa-facebook"></i>
          </a>
        {% endif %}
        {% if site.twitter %}
          <a class="nav-link nav-icon" href="https://twitter.com/{{ site.twitter }}">
            <i class="fab fa-twitter"></i>
          </a>
        {% endif %}
        {% if site.github %}
          <a class="nav-link nav-icon" href="https://github.com/{{ site.github }}">
            <i class="fab fa-github"></i>
          </a>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
