<nav class="navbar navbar-expand-lg navbar-inverse">
  <div class="container justify-content-start">
    <div class="row flex-nowrap justify-content-between navigation-icons">
      <a class="navbar-brand" href="/">
        {% asset logo width="30" height="30" %}
        {{ site.title }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            {% t nav.home %}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">{% t nav.about %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">{% t nav.news %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">{% t nav.projects %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">{% t nav.faq %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contribute">{% t nav.contribute %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://wiki.houraiteahouse.net">
            {% t nav.wiki %}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav navigation-social">
        {% if site.discord %}
        <li class="col-auto no-gutter-left no-gutter-lg-right">
          <a class="nav-link nav-icon" href="https://discord.gg/{{ site.discord }}">
            <i class="fab fa-discord "></i>
          </a>
        </li>
        {% endif %}
        {% if site.facebook %}
        <li class="col-auto no-gutter-left no-gutter-lg-right">
          <a class="nav-link nav-icon" href="https://facebook.com/{{ site.facebook }}">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        {% endif %}
        {% if site.twitter %}
        <li class="col-auto no-gutter-left no-gutter-lg-right">
          <a class="nav-link nav-icon" href="https://twitter.com/{{ site.twitter }}">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        {% endif %}
        {% if site.github %}
        <li class="col-auto no-gutter-left no-gutter-lg-right">
          <a class="nav-link nav-icon" href="https://github.com/{{ site.github }}">
            <i class="fab fa-github"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
