{% if page.path == "index.html" %}
<article class="container-fluid news gradient-background">
{% else %}
<article class="container-fluid news">
{% endif %}
  <header class="row news-title">
    <h1 class="col-12">
    {% if page.path == "news.md" %}
      Hourai Teahouse - News
    {% else %}
      News
    {% endif %}
   </h1>
  </header>
  <ul class="row list-news">
  {% assign post_size = site.posts | size %}
  {% if post_size == 0 %} 
    <p>No posts...yet.</p>
  {% else %}
  {% for post in site.posts %}
    {% if page.path == "news.md" and post == site.posts[0] %}
    <li class="col-md-10 news-post-top">
      <section class="row-fluid post gradient-background">
    {% else %}
    <li class="col-md-10 news-post">
      <section class="row post">
    {% endif %}
        {% if post == site.posts[0] %}
        <div class="col-sm-3 post-flair">
          <div class="rounded-circle image-border">
            {% asset placeholder class="image" %}
          </div>
        </div>
        {% endif %}
        <div class="col-sm-9 offset-sm-3 post-content">
          <div class="row post-header">
            <div class="col-sm-12 post-title">
              <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            </div>
            <div class="col-sm-12 post-date">
              <span class="date">{{ post.date | date_to_long_string }}</span>
            </div>
          </div>
          <div class="row post-body">
              <span>{{ post.excerpt }}</span>
          </div>
        </div>
      </section>
    </li>
    {% endfor %}
  </ul>
  <div class="col-md-10 offset-md-1 news-button">
      <button>More news</button>
  </div>
  {% endif %}
</article>