<article class="container-fluid news">
  <header class="row news-title">
    <h1 class="col-12"> News </h1>
  </header>
  <ul class="row list-news">
    {% for post in site.posts %}
    <li class="col-md-10 news-post">
      <section class="row-fluid post-content">
        {% if post == site.posts[0] %}
        <div class="col-sm-3 post-flair">
          <div class="rounded-circle image-border">
            <img class="image" src="img/placeholder.png">
          </div>
        </div>
        {% endif %}
        <div class="col-sm-9 post-header">
          <div class="row-fluid post-title">
            <h3 class="col-12 title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
          </div>
          <div class="row-fluid post-date">
            <span class="col-12 date">| {{ post.date | date_to_long_string }}</span>
          </div>
        </div>
        <div class="row-fluid post-body">
          <div class="flexitem post-text">
            <span>{{ post.excerpt }}</span>
          </div>
          <div class="flexitem post-button">
            <a class="btn btn-primary" href="{{ post.url }}">Read More...</a>
          </div>
        </div>
      </section>
    </li>
    {% endfor %}
  </ul>
</article>