<article class="flex news">
  <header class="flexitem news-title">
    <h1> News </h1>
  </header>
  <ul class="flex flexitem list-news">
    {% assign index = 0 %}
    {% for post in site.posts %}
    {% if index >= 3 %}
    {% break %}
    {% endif %}
    <li class="flex news-post">
      <article class="flexitem post-content">
        <header class="grid">
          {% if post == site.posts[0] %}
          <div class="griditem post-flair">
            <div class="rounded-circle image-border">
              <img class="image" src="img/placeholder.png">
            </div>
          </div>
          {% endif %}
          <div class="flex griditem post-header">
            <div class="flexitem post-title">
              <h3 class="flexitem title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            </div>
            <div class="flexitem post-date">
              <span class="flexitem date">| {{ post.date | date_to_long_string }}</span>
            </div>
          </div>
        </header>
        <div class="flex post-body">
          <div class="flexitem post-text">
            <span>{{ post.excerpt }}</span>
          </div>
          <div class="flexitem post-button">
            <a class="btn btn-primary" href="{{ post.url }}">Read More...</a>
          </div>
        </div>
      </article>
    </li>
    {% assign++ %}
    {% endfor %}
  </ul>
</article>