// Website definitions:
$background-primary             : rgb(59, 59, 69);
$background-secondary           : rgb(46, 48, 70);
$background-gradient-top        : rgb(174, 126, 224);
$background-gradient-bottom     : rgba(0, 2, 41, .61);
$border-primary                 : rgb(203, 131, 194);
$border-secondary               : rgb(38, 20, 79);
$button-background              : rgb(203, 131, 194);
$button-gradient-top            : rgb(186, 20, 137);
$button-gradient-mid            : rgb(177, 31, 91);
$button-gradient-bottom         : rgb(209, 52, 52);
$button-gradient-border         : rgb(59, 59, 69);

// Font definitions:
$font-size-default              : 24px;
$font-size-mobile               : 16px;
$font-color-primary             : rgb(255, 255, 255);

// Navigation definitions
$nav-text                       : rgb(198, 112, 190);
$nav-menu-icon                  : rgb(181, 105, 175);
$nav-menu-background            : rgb(44, 27, 97);
$nav-highlight                  : rgb(255, 255, 255);
$nav-mobile-highlight           : rgb(205, 129, 194);

// Z-indexes
