html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  background-color: $background-primary;
  color: $footer-text;
  flex-shrink: 0;
}

.footer-content {
  margin-top: 20px;
  margin-bottom: 20px;
}
