// Mobile css
.roster {
    padding: 2.5%;
}
.roster-set {
    margin: 0;
    padding: 15px;
}
.roster-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.roster-character {
    margin: 15px;
        &:hover {
        cursor: pointer;
    }
    .image {
        width: 100%;
    }
}
.roster-character-background {
    background: rgba(46, 48, 70, .25);
}
@media only screen and (min-width: 768px) {
    .roster-list {
        flex-direction: column;
    }
    .roster-character {
        max-width: 400px;
        max-height: 400px;
    }
}
