// Mobile css
.roster {
    padding: 2.5%;
    flex-direction: column;
    border-bottom: 1px solid $border-primary;
}
.roster-set {
    margin: 0;
    padding: 15px;
}
.roster-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.roster-character {
    margin: 15px;
    background: $background-secondary;
    border: 3px solid $border-primary;
    &:hover {
        cursor: pointer;
    }
    .image {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .roster-list {
        flex-direction: column;
    }
    .roster-character {
        max-width: 400px;
        max-height: 400px;
    }
}
