// Mobile CSS
[class*="wrapper-"] {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-size: $font-size-default;
  box-sizing: border-box;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.splash-image {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.background-pink {
  background: $border-pink;
}
.background-navy {
  background: $background-navy;
}
.border-pink {
  border-style: solid;
  border-color: $border-pink;
  border-width: 3px;
}
.border-navy {
  border-style: solid;
  border-color: $border-navy-dark;
  border-width: 3px;
}
.border-black-thin {
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
}
.border-thin-pink {
  border-style: solid;
  border-color: $border-pink;
  border-width: 1px;
}
.border-thin-navy {
  border-style: solid;
  border-color: $border-navy-dark;
  border-width: 1px;
}
.background-gradient {
  background-image: $background-gradient-pink;
}
.red-gradient-bg {
  background-image: $red-gradient;
} 
.no-gutter-right {
  padding-right: 0;
  margin-right: 0;
}
.no-gutter-left {
  padding-left: 0;
  margin-left: 0;
}
@media only screen and (max-width: 576px) {
  [class*="wrapper-"] {
    font-size: $font-size-mobile;
  }
  .no-gutter-sm-right {
    padding-right: 0;
    margin-right: 0;
  }
  .no-gutter-sm-left {
    padding-left: 0;
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .no-gutter-md-right {
    padding-right: 0;
    margin-right: 0;
  }
  .no-gutter-md-left {
    padding-left: 0;
    margin-left: 0;
  }
}
@media only screen and (min-width: 968px) {
  .no-gutter-lg-right {
    padding-right: 0;
    margin-right: 0;
  }
  .no-gutter-lg-left {
    padding-left: 0;
    margin-left: 0;
  }
}