.wrapper-contribute {
    padding: 15px;
}
.contribute-header {
    padding-top: 25px;
    padding-bottom: 25px;
}
.contribute-layout {
    position: relative;
}
.contribute-desc {
    padding-top: 10px;
    padding-bottom: 10px;
}
.contribute-form {
    position: relative;
    .contribute-blurb {
        padding: 10px;
    }
}
.contribute-form-roles {
    .contribute-roles-button {
        padding: 5px;
    }
    button {
        padding: 10px;
        width: 100%;
        height: 75px;
        color: $font-color-white;
    }
}
.contribute-form-inputs {
    .contribute-inputs-user {
        padding: 10px;
    }
    input {
        padding: 5px;
        width: 100%;
    }
}
.contribute-form-terms {
    border-left: none;
    border-right: none;
}
.contribute-form-submit {
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    .contribute-submit-button {
        button {
            width: 125px;
            height: 75px;
            color: $font-color-white;
            border: none;
        }
    }
}
.contribute-social {
    border-top: 1px solid $border-pink;
    padding-top: 10px;
    padding-bottom: 10px;
    ul {
        padding: 0;
        list-style-type: none;
    }
    li {
        padding-left: 0;
    }
    a {
        padding: 0;
    }
    .nav-icon {
        color: white;
    }
    .contribute-blurb {
        span {
            font-size: $font-size-default;
            font-weight: bold;
        }
    }
}
@media only screen and (min-width: 768px) {
    .contribute-form {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 0;
    }
    .contribute-form-roles {
        button {
            padding: 20px;
            width: 100%;
            min-height: 125px;
            color: $font-color-white;
        }
    }
    .contribute-form-submit {
        justify-content: end;
        .contribute-submit-button {
            button {
                width: 125px;
                height: 75px;
            }
        }
    }
}