// FC Definitions
$color-fc: rgb(248, 71, 62);
// Mobile CSS
.border-fc {
    border-style: solid;
    border-width: 3px;
    border-color: $color-fc;
}
.background-fc {
    background-image: linear-gradient(180deg, $color-fc 60%, rgb(97, 28, 30));
}
.wrapper-fc {
    margin: 0;
    padding: 0;
    > .container-fluid {
        margin: 0;
        padding: 0;
    }
}
.fc-blurb {
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}
.fc-description {
    padding: 15px;
    min-height: 200px;
    border-right: none;
}
.fc-download-buttons {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.fc-download {
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 200px;
    button {
        color: $font-color-primary;
        width: 100%;
        padding: 15px;
    }
}
.fc-stages {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    min-height: 100px;
}
.fc-title {
    text-align: center;
}
// Desktop CSS
@media only screen and (min-width: 768px) {
    .fc-download-buttons {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
}