.faq-header {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    border-bottom: 1px solid $border-pink;
    h1 {
        font-size: 2.25em;
        font-weight: 700;
    }
}
.faq-toc {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 25px;
}
.faq-toc-item {
    padding-top: 10px;
    & > a {
        color: $font-color-white;
    }
}
.faq-entry {
    margin-bottom: 25px;
    background: $background-darker-gray;
}
.faq-question {
    padding: 0;
    button {
        text-decoration: none;
        color: $font-color-white;
        &.collapsed {
            color: $font-color-gray;
        }
        &:hover {
            color: $font-color-white;
        }
    }
}
