nav {
  z-index: 100;
}
.navigation-icons {
  width: 100%;
}
.navbar-brand {
  color: $nav-text;
  &:hover {
  color: $nav-highlight;
  }
  &:active {
  color: $nav-highlight;
  }
}
.nav-link {
  color: $nav-text;
  &:hover {
  color: $nav-highlight;
  }
  &:active {
  color: $nav-highlight;
  }
}
.nav-icon {
  color: $nav-menu-icon;
  &:hover {
  color: $nav-highlight;
  }
  &:active {
  color: $nav-highlight;
  }
}
.navigation-social {
  flex-direction: row;
}
@media only screen and (min-width: 968px) {
  .naigation-icons {
    width: auto;
  }
  .navigation-social {
    flex-direction: column;
  }
}