.news {
    a {
        color: $font-color-white;
        cursor: pointer;
    }
}
.news-header {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    border-bottom: 1px solid $border-pink;
    h1 {
        font-size: 2.25em;
        font-weight: 700;
    }
}
.news-lang {
    padding: 5px;
    border-bottom: 1px solid $border-pink;
}
.news-post {
    position: relative;
    height: 15vw;
    min-height: 275px;
    max-height: 350px;
    border-bottom: 1px solid $border-pink;
    transition: all 0.2s;
    &:hover {
        border-top: 3px solid $border-pink;
        border-bottom: 3px solid $border-pink;
        .post-background {
            background-image: $background-gradient-pink;
        }
        .news-post-border {
            border-bottom: none;
        }
        .image {
            opacity: 1;
        }
    }
    .news-post-border {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.news-post-content {
    position: relative;
}
.news-post-preview {
    position: absolute;
    z-index: 0;
    .post-background {
        position: absolute;
    }
    .image-border {
        position: relative;
        overflow: hidden;
    }
    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(27, 0, 84, 0.66), $background-gray);
        z-index: 2;
    }
    .image {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.35;
        z-index: 1;
        transition: opacity 0.2s;
    }
}
.news-post-border {
    justify-content: center;
}
.news-post-header {
    padding-top: 15px;
    padding-bottom: 15px;
    align-content: flex-start;
    .news-post-title {
        h1 {
            font-size: 1.75rem;
        }
        text-align: center;
    }
    .news-post-date {
        h2 {
            font-size: 1.25rem;
        }
        text-align: center;
    }
}
.news-post-details {
    overflow: hidden;
    h1 {
        font-size: 1rem;
    }
}
.news-nav {
    padding: 15px;
    a {
        cursor: pointer;
        text-decoration: none;
        color: $font-color-white;
        background: $button-background;
        border: none;
    }
}
@media only screen and (min-width: 768px) {
    .news-post .selected {
        .news-post-preview {
            display: flex;
        }
    }
    .news-post-preview .overlay-wrapper {
        .image-overlay {
            background-image: linear-gradient(90deg, rgba(27, 0, 84, 0.66), #3b3b45);
        }
        .image {
            width: auto;
        }
    }
    .news-post-border {
        justify-content: flex-start;
    }
    .news-post-header {
        align-content: flex-end;
        .news-post-title {
            text-align: left;
        }
        .news-post-date {
            text-align: left;
        }
    }
}
