// Mobile css
.grid {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-auto-flow: row;
    grid-template-rows: none;  
    grid-template-columns: none;
    grid-template-areas: none;
    grid-row-gap: 0;
    grid-column-gap: 0;
    justify-content: initial;
    align-content: initial;
}
.griditem
{
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: auto;
    grid-column-end: auto;
    justify-self: initial;
    align-self: initial;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: initial;
    align-items: initial;
}
.flexitem
{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
}

