---
layout: base
---

<div class="row justify-content-end news-lang">
  <div class="col-auto">
    {% for lang in site.languages %}
      {% unless site.lang == lang %}
        {% if lang == site.default_lang %}
          <a href="{{ site.baseurl_root }}{{ page.url }}" >{% t langs.{{ lang }} %}</a>
        {% else %}
          <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{% t langs.{{ lang }} %}</a>
        {% endif %}
        
        {% assign next = forloop.index | plus: 1 %}
        
        {% if forloop.last != true and site.languages[forloop.index] != site.lang or site.languages[forloop.index] == site.lang and next < forloop.length %}
          <span class="separator"> &bull; </span>
        {% endif %}
        
      {% endunless %}
    {% endfor %}
  </div>
</div>

{{ content }}

{% if paginator.total_pages > 1 %}
  <div class="container-fluid news-nav">
    <div class="row justify-content-center">
      <ul class="pagination">
        {% if paginator.previous_page %}
          <li class="page-item"><a class="page-link" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Previous</a></li>
        {% else %}
          <li class="page-item"><span class="page-link">Previous</span></li>
        {% endif %}
        {% for page in (1..paginator.total_pages) %}
        <li class="page-item">
        {% if page == paginator.page %}
          <span class="page-link">{{ page }}</span>
        {% elsif page == 1 %}
          <a class="page-link" href="{{ site.baseurl }}/{{ lang }}news">{{ page }}</a>
        {% else %}
          <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
          <li class="page-item"><a class="page-link" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next</a></li>
        {% else %}
          <li class="page-item"><span class="page-link">Next</span></li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}
